name: build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/devkitarm:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: |
          cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=cmake/devkitarm-toolchain.cmake

      - name: Build
        run: |
          cmake --build build
