name: build
on: [push]

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      repo: ${{ steps.repo.outputs.repo }}
    steps:
      - name: Set lowercase repository name
        id: repo
        run: |
          echo "repo=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: prepare

    container:
      image: ghcr.io/${{ needs.prepare.outputs.repo }}/devkitarm:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: |
          cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=cmake/devkitarm-toolchain.cmake

      - name: Build
        run: |
          cmake --build build
